# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build outputs
dist/
build/

# Env / secrets
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Coverage
coverage/
*.lcov

# OS / editors
.DS_Store
.vscode/
!.vscode/extensions.json
.idea/

# Misc
coverage/
*.local